* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 2%;
  background: url(../images/technical/background2.jpg) no-repeat center center fixed;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  h2 {
	font-size:calc(0.25 * 10vw);
  }
  p {
	font-size: calc(0.25 * 7vw);
  }
}