.btn-A span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  font-family: Couture;
  font-size: 20px;
  margin-top: 10px;
}

.btn-A::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.2);
  transition: all 0.3s;
}

.btn-A:hover::before {
  opacity: 0;
  transform: scale(0.5,0.5);
}

.btn-A::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.8);
  transform: scale(1.2,1.2);
}

.btn-A:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

.btn-A {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
  height: 50px;
  width: 100%;
  text-decoration: none;
}

.btn-C{
  display: block;
  font-size: 20px;
  font-family: "Couture";
  width: 200px;
  height: 50px;
  line-height: 45px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  transition: all .55s;
  position: relative;
  left: calc(50% - 100px);
  z-index: 1;
}

.btn-C-icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: relative;
  transform: rotate(45deg);
  left: calc(50% + 40px);
  top: -50px;
  z-index: 0;
  transition: all .55s;
}

.btn-C:hover{
  width: 150px;
  left: calc(50% - 75px);
  background: transparent;
}

.btn-C:hover + .btn-C-icon{
  left: calc(50% + 70px);
}