/*Fonts*/

@font-face { font-family: Pixel; src: url('../fonts/pixel.ttf'); } 
@font-face { font-family: Avenge; src: url('../fonts/AVENGE.otf'); } 
@font-face { font-family: Couture; src: url('../fonts/couture.otf'); } 
@font-face { font-family: Arvo; src: url('../fonts/Arvo.ttf'); } 
@font-face { font-family: Google; src: url('./ProductSansRegular.ttf'); } 