body {
  background-color: transparent;
  font-family: Google;
}

html { 
  background: url(./images/backgrounds/background.webp) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-teal {
  background-color: #20c997;
}

.bg-red1 {
  background-color: #FF4252;
}

.bg-red2 {
  background-color: #DD2336;
}

.bg-red3 {
  background-color: #C60133;
}

.bg-red4 {
  background-color: #B20133;
}

.shadow-effect {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.shadow-effect:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

.page-link {
  color: #DC3545;
}

.page-link:hover {
  color: #DC3545;
}

.page-link:focus {
  color: #6C757D;
}

.nav-pills a {
  color: #DC3545;
}

.nav-pills a:hover {
  color: #B22C3A;
}

.nav-pills .active { 
  background-color: #DC3545 !important;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.circle {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 100vmax;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rotatinglogo {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: consolas;
	color: #000;
	font-size: 17px;
	animation: textRotation 30s linear infinite;
}

@keyframes textRotation {
	to {
		transform: rotate(360deg);
	}
}

.rotatinglogo span {
	position: absolute;
	left: 50%;
	font-size: 1.2em;
	transform-origin: 0 100px;
}

.special-nav-item {
    color: #DE2B3D !important; 
}