body {
  font-family: Google;
  background: url(../images/backgrounds/background#.webp) no-repeat center center fixed;
  background-color: #AED5DA;
}

.bg-teal {
  background-color: #20c997;
}