html {
	height: 100%;
	background: url(peakpx.jpg) no-repeat center center fixed;
	background-color: rgb(255,255,255,0.3);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: Candara;
	scroll-behavior: smooth;
	font-size: 14px;
}

/*Main*/

#main {
  transition: margin-left .3s;
}

.main-subtitle {
	font-size: 48px;
	text-align: center;
	font-family: Avenge;
}

.main-announcement {
	padding: 10px;
	color: white;
	text-align:center;
	font-size:24px;
	font-family: Pixel;
	margin-bottom: 20px;
	margin-top: 20px;
}

.header-padding {
	margin-top: 70px;
}

@media screen and (max-width: 750px) {
  .main-announcement {
	  font-size:18px;
  }
  
  .main-subtitle {
	  font-size: 38px;
  }
  
  .header-padding {
	  margin-top: 60px;
  }
}

@media screen and (max-width: 500px) {
  .main-announcement {
	  font-size:14px;
  }
  
  .main-subtitle {
	  font-size: 30px;
  }
  
    .header-padding {
	  margin-top: 50px;
  }
}

.button {
	transition: background-color 1s;
	width: 150px;
	border: white 3px solid;
	background-color:#111;
	position: relative;
	top: -5px; 
	left: -8px;
}

.sub-button {
	padding: 15px;
	color:white;
	font-size: 24px;
	text-align:center;
	font-family: Avenge;
}

.button:hover {
	background-color: #E44146;
}

div.wrapper {
  overflow: hidden;
}

div.wrapper > div {
	width: 100%;
	height: 100%;
	transition: background-size 4s ease;
	background-size: 100%;
	background-position: center center;
}

div.wrapper:hover > div {
	background-size: 120%;
}

/*Screen*/

@media screen and (max-width: 1080px) {

  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 800px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 24px;}
}