

/*Main*/

#main {
  transition: margin-left .3s;
}

#main-subtitle {
	font-size: 48px;
	text-align: center;
	font-family: Avenge;
}

.main-announcement {
	padding: 10px;
	color: white;
	text-align:center;
	font-size:24px;
	font-family: Pixel;
	margin-bottom: 20px;
	margin-top: 20px;
}

.button {
	transition: background-color 1s;
	width: 150px;
	border: white 3px solid;
	background-color:#111;
	position: relative;
	top: -5px; 
	left: -8px;
}

.button:hover {
	background-color: #E44146;
}

/*Screen*/

@media screen and (max-width: 1080px) {

  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .header {width: 45%;}
  .header {margin-top: 30px;}
}

@media screen and (max-width: 800px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 24px;}
  .header {width: 0px;}
}