.eventBoxTable {
	margin-left: 20px;
	margin-right: 20px;
	width:90%;
	text-align:center;
}

.eventName {
	font-size: 24px;
	font-family: Avenge;
	color:white;
	padding: 10px;
}

.eventLink {
	text-decoration: none;
	margin:auto;
	width: 100%;
	text-align: center;
	padding: 15px;
	border:red solid 1px;
}

@media screen and (max-width: 840px) {
	.eventBoxTable {
		display: none;
	}
}