.descriptionContainer {
 text-align:center;
 margin: auto;
 width: 100%;
}
.descriptionContainer .wrapper {
 margin: auto;
 padding-bottom: 15px;
 width: 70%;
 max-width: 1500px;
}
.descriptionContainer .card {
 border-radius: 80px;
 position: relative;
 overflow: hidden;
}
.descriptionContainer .card .title {
 color:white;
 font-family: Couture;
 font-size:26px;
 width: 70%;
 margin:auto;
}
.descriptionContainer .card .desc {
 font-size: 18px;
 text-align:center;
 width: 70%;
 margin:auto;
 color:white;
}

@media screen and (max-width: 750px) {
  .descriptionContainer .card .desc {
    font-size: 12px;
  }
  .descriptionContainer .card .title {
	font-size: 18px;
  }
  .descriptionContainer .wrapper {
	width: 90%;
  }
  .descriptionContainer .btl-A &:after {
	display: none;
  }
}