/*Fonts*/

@font-face { font-family: Couture; src: url('./couture.otf'); font-display: swap;} 
@font-face { font-family: Google; src: url('./SansRegular.ttf'); font-display: swap;}
@font-face { font-family: Pixel; src: url('./FFFFORWA.TTF'); font-display: swap;}  
@font-face { font-family: Typewriter; src: url('./typewriter.ttf'); font-display: swap;}  