.discover-banner {
	transition: opacity .5s;
	opacity:0;
	color:white;
	vertical-align: middle;
	display:table-cell;
}
	
.discover-banner-holder {
	transition: height .5s;
	margin:auto;
	width: 100%;
	height: 150px;
	background-size: contain;
	text-align:center;
	display: table;
}

.discover-banner-holder:hover {
	height: 250px;
}

.discover-banner-holder:hover .discover-banner{
	opacity: 1;
}