        html {
            height: 100%;
            background: url("https://i.pinimg.com/originals/47/b6/61/47b6618dbc7e02ad1879aac3613dc207.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-family: Candara;
            scroll-behavior: smooth;
            font-size: 14px;
            }

        .tooltip {
            position: relative;
            display: inline-block;
            }

        .tooltip .tooltiptext {
            white-space: nowrap;
            visibility: hidden;
            background-color: rgba(0,0,0,0.8);
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 10px 5px 10px;
            position: absolute;
            top: -5px;
            left: 125%;
            opacity: 0;
            transition: opacity 0.8s;
            }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent rgba(0,0,0,0.8) transparent transparent;
            }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
            }

        ::-webkit-scrollbar-thumb {
            height: 6px;
            border: 4px solid rgba(0, 0, 0, 0);
            background-clip: padding-box;
            -webkit-border-radius: 7px;
            background-color: rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
            }

        ::-webkit-scrollbar {
            width: 18px;
            }

        ::-webkit-scrollbar-track {
            border-radius: 8px;
            }

        ::-webkit-scrollbar-corner {
            background-color: rgba(0, 0, 0, 0);
            }

        ::-webkit-scrollbar {
            width: 18px;
            height: 18px;
            }

        .page {
            width: 50%;
            min-width: 450px;
            background-color: rgba(255,255,255,0.6);
            margin-left:auto;
            margin-right:auto;
            padding: 15px;
            border-radius: 6px;
            }

        .list {
            table-layout: fixed;
            border-collapse: collapse;
            margin-left:auto;
            margin-right:auto;
            width: 100%;
            }

        .list th {
            background-color: rgba(32,81,220,0.5);
            padding: 10px;
            min-width: 60px;
            }

        .list tr {
            background-color: rgba(225,255,255,0.5);
            }

        .list tr:nth-child(even) {
            background-color: rgba(200,200,200,0.5);
            }

        .list tr:hover {
            background-color: rgba(155,155,155,0.5);
            }

        .list td {
            padding: 3px;
            font-size: 14px;
            min-width: 60px;
            }

        .list th:nth-child(1) {border-radius: 12px 0px 0px 0px;}
        .list th:last-child {border-radius: 0px 12px 0px 0px;}

        .desc {
            background-color: rgba(0,0,0,0.6);
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 10px 5px 10px;
            font-size: 12px;
            }

        .desc::after {
            content: "";
            position: absolute;
            left: -10px;
            top: 50%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent rgba(0,0,0,0.6) transparent transparent;
            }

        .desctable {
            margin-left:auto;
            margin-right:auto;
            width:90%;
            text-align: center;
        }

        .flip-card {
          background-color: transparent;
          width: 150px;
          height: 256px;
          perspective: 1000px;
        }

        .flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 1s;
          transform-style: preserve-3d;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        .flip-card-back {
          background-color: rgba(32,81,220,0.5);
          color: white;
          transform: rotateY(180deg);
        }

        .slider {
            -webkit-appearance: none;
            width: 60%;
            height: 15px;
            background: rgba(255,255,255);
            outline: none;
            opacity: 0.5;
            -webkit-transition: .2s;
            transition: opacity .2s;
            border-radius: 12px;
            margin-left:auto;
            margin-right:auto;
            }

        .slider:hover {
          opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: rgba(32,81,220,0.6);
            cursor: pointer;
            border-radius: 6px;
            }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
            }

        .menu-list {
            font-size: 16px !important;
            padding: 5px !important;
            background-color: rgba(225,255,255,0.3) !important;
            }

        a {
            text-decoration: none;
            color: black;
            }